h1{color: black;
background-color: yellow;
text-align: center;
}
body{background-color: cornsilk;}
#img1{border-width: 4px;
border-color: rgb(224, 228, 9);
border-style: solid;}
#img1{margin-left: 0%;
position: fixed}
#img1{width: 7%;}
h2{text-align: center;}
#img2{width: 30%;}
#img2{margin-left: 35%;}
a{color: black;}
#img3{width: 30%;
margin-left: 35%;
text-align: center;}
p{text-align: center;}